    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>A propos de PCube</h2>
              <br/>
                <p style="font-size: large;">PCube est un petit objet connecté destiné à faire de toi un ninja de la concentration et de l'optimisation du temps. En s'inspirant de la méthode Pomodoro, ton PCube va te coacher au quotidien et te réserver du temps pour focaliser ton attention sur les tâches que tu auras choisi. 
                Il te protègera des interruptions de tes collègues facécieux, des mails perturbateurs, des méchants réseaux sociaux et autres super vilains.</p>
                <p style="font-size: large;">PCube a été élevé par <a href="http://www.sogilis.com">Sogilis</a></p>
                <br/>
              </div>
        </div>
    </section>
